In [1]:
# Config script
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://archive.apache.org/dist/spark/spark-2.3.1/spark-2.3.1-bin-hadoop2.7.tgz
!tar xf spark-2.3.1-bin-hadoop2.7.tgz
!pip install -q findspark

import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-2.3.1-bin-hadoop2.7"

!ls

import findspark
findspark.init()

import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate() 
spark

Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:2 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:3 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Ign:4 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:5 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:7 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Get:11 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Hit:12 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Hit:14 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:15 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,695 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,490 kB]
Get:17 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,268 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [3,134 kB]
Get:20 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [953 kB]
Get:21 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,947 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [996 kB]
Get:23 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Fetched 13.8 MB in 7s (1,868 kB/s)
Reading package lists... Done
sample_data  spark-2.3.1-bin-hadoop2.7	spark-2.3.1-bin-hadoop2.7.tgz



```
# This is formatted as code
```

# Is the Country Mexico: Yes or No

In [7]:
from pyspark.sql.functions import *

# read data frame
data = spark.read.format("csv").option("header", "true").load("challenge.csv")

data = data.withColumn("Mexico", when(data.Country == "Mexico", "Yes").otherwise("No"))

+---------------+--------------+-----------------+----------+------+
|     ip_address|       Country|      Domain Name|Bytes_used|Mexico|
+---------------+--------------+-----------------+----------+------+
|  52.81.192.172|         China| odnoklassniki.ru|       463|    No|
| 119.239.207.13|         China|         youtu.be|        51|    No|
|  68.69.217.210|         China|        adobe.com|        10|    No|
|   7.191.21.223|      Bulgaria|     linkedin.com|       853|    No|
|   211.13.10.68|     Indonesia|          hud.gov|        29|    No|
|   239.80.21.97|      Suriname|       smh.com.au|       218|    No|
|106.214.106.233|       Jamaica|    amazonaws.com|        95|    No|
| 127.242.24.138|         China| surveymonkey.com|       123|    No|
|     99.2.6.139|Czech Republic|     geocities.jp|       322|    No|
|   237.54.11.63|         China|       amazon.com|        83|    No|
| 252.141.157.25|         Japan|      cornell.edu|       374|    No|
|185.220.128.248|       Belgium|       weebly.com|       389|    No|
|   151.77.19.45|   Afghanistan|independent.co.uk|       282|    No|
|  9.161.158.225|     Indonesia|    bloglines.com|       726|    No|
| 156.144.61.155|Czech Republic|   slideshare.net|       657|    No|
|   8.96.188.151|     Indonesia|          ibm.com|       517|    No|
|      5.72.7.65|        Mexico|         youtu.be|       877|   Yes|
|227.110.112.144|       Croatia|         ehow.com|       287|    No|
|    81.71.28.97|      Thailand|          last.fm|       588|    No|
|  9.255.129.184|      Thailand|          mtv.com|       114|    No|
+---------------+--------------+-----------------+----------+------+
only showing top 20 rows

# Group by *Mexico* Colum and Count bytes_used: Summary

In [24]:
# Group by new column - yes, no summary
import pyspark.sql.functions as sqlfunc

summary = data.groupBy('Mexico').agg(sqlfunc.sum("Bytes_used").alias("total_bytes_used"))

#sort
summary.sort(col("total_bytes_used").desc()).show()

+------+----------------+
|Mexico|total_bytes_used|
+------+----------------+
|    No|        508076.0|
|   Yes|          6293.0|
+------+----------------+

In [ ]:
# Group by Country and use the sqlfunc.countDistinct function to calculate the number of IP address in each country

# Group by Country and use the sqlfunc.countDistinct function to calculate the number of IP address in each country

In [25]:
summary2 = data.groupBy("Country").agg(sqlfunc.countDistinct(data.ip_address).alias("Discint address"))
summary2.sort(col("Discint address").desc()).show()

+--------------+---------------+
|       Country|Discint address|
+--------------+---------------+
|         China|            172|
|     Indonesia|            114|
|   Philippines|             65|
|        Russia|             56|
|        Brazil|             35|
|        Poland|             31|
|        Sweden|             28|
|         Japan|             25|
|Czech Republic|             23|
|      Portugal|             23|
|        France|             21|
|          Peru|             19|
|      Colombia|             17|
| United States|             15|
|     Argentina|             14|
|       Ukraine|             14|
|        Mexico|             13|
|      Thailand|             12|
|        Canada|             11|
|       Nigeria|             11|
+--------------+---------------+
only showing top 20 rows